.go-tutorial .card-body {
    max-height: 545px; /* Adjust this value based on your desired fixed height */
    overflow-y: auto;
    overflow-x: hidden;
}

.go-tutorial {
    background-color: #FAFAFA;
   border: 1px solid #E0E0E0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
