.options-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.option-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.option-button:hover, .option-button:focus {
    background-color: #0056b3;
}

.btn-groupq {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    margin-top: 2rem;
}

.prev-button {
    background-color: #00645c;
    color: rgb(233, 233, 233);
    border-color: #0056b3;
}

.next-button {
    flex-grow: 1;
    text-align: right;
}

.submit-all-button {
    text-align: right;
    background-color: #53cc0d;
}

.prev-button .btn-dir, .next-button .btn-dir {
    background-color: #00645c;
    color: rgb(233, 233, 233);
    border-color: #0056b3;
}

.prev-button .btn-dir:hover, .next-button .btn-dir:hover {
    background-color: #004499;
    border-color: #004499;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.question-section,
.options-grid,
.text-answer-input {
    flex-shrink: 0;
}

.btn-groupq {
    margin-top: auto;
    flex-shrink: 0;
}

.monaco-editor-container {
    position: relative;
    z-index: 10;
    min-height: 200px;
    flex-grow: 1;
    overflow: hidden;
}
