.quiz-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Remove or comment out the next line */
    /* width: 500px; */
}


.quiz-option {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}



.quiz-option-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #129781;
    text-align: left;
}

.quiz-option-button.selected {
    background-color: #7003d6;
    border-color: red;
    
}

.quiz-option-button:hover {
    background-color: #005a8e; /* A shade darker for hover state */
}