.content .row > div {
    height: calc((100vh - 100px - 100px) * 0.90);
    /* Adjust YOUR_TOOLBAR_HEIGHT and YOUR_OUTPUT_PANEL_HEIGHT based on your actual measurements. The '0.75' multiplier is to allocate 75% of the remaining space for these panels and leave 25% for the output panel. Adjust as needed. */
    overflow: auto; /* Allow for scrolling if the content exceeds the box size. */
}

.output-panel {
    height: calc((100vh - 100px) * 0.25);
}


.App {
    background-color: #074468;
}

.toolbar {
    background-color: #007D9C;
}
